form {
  justify-content: center;
  align-items: center;

  input {
    width: 350px;
  }

  ul {
    padding: 20px;
  }

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 1 100%;
    margin-top: 10px;

    &:first-child {
      margin-top: 0;
    }
  }

  button {
    width: 100%;
    &:focus{
      box-shadow: none;
    }
  }
}
