form {
  justify-content: center;
  align-items: center;

  input {
    width: 350px;
  }

  ul {
    padding: 20px;
  }

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 1 100%;
    margin-top: 10px;

    &:first-child {
      margin-top: 0;
    }
  }

  button {
    width: 100%;

    &:focus {
      box-shadow: none;
    }
  }
}

table {
  border: solid 1px #ddd;
  width: 100%;


  th {
    background-color: rgb(158, 158, 158, 0.2);
    padding: 5px;
  }

  td {
    padding: 10px 5px;
  }

  button {
    padding: 5px;
    font-size: 12px;
    min-width: 120px;

    &:focus {
      box-shadow: none !important;
    }
  }

  ul {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  li {
    margin-top: 10px;

    &:first-child {
      margin-top: 0;
    }
  }
}

