table {
  border: solid 1px #ddd;
}

th {
  background-color: rgb(158, 158, 158, 0.2);
  padding: 5px;
}

td {
  padding: 10px 5px;
}

button {
  padding: 5px;
  font-size: 12px;
  min-width: 120px;

  &:focus {
    box-shadow: none !important;
  }
}

li {
  margin-top: 10px;

  &:first-child {
    margin-top: 0;
  }
}

